language: rust
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true
before_script:
  - rustup component add clippy rustfmt
script:
  - cargo build --verbose --all
  - cargo test --verbose --all
  - cargo fmt --verbose --all -- --check
  - cargo clippy --all-targets -- -D warnings
